/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.data-table{
    width: 90%;
    margin:20px auto; 

  }

main{
  position: relative;
  height:100%;
}

.full-width {
  width: 100%;
}

.loading-spinner{
  width:10%;
  margin-left: 45%;
  margin-top:50px;
  margin-bottom:50px;
}